.DS_Store
Karamba.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/UserInterfaceState.xcuserstate
Karamba.xcodeproj/xcuserdata/rob.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
assets/
build/
node_modules/
deps.js/
graveyard/
*playground/
*.app
DerivedData*
*.playground
logfile
*.mp4
!Movie for README.mp4
t.js
old*
EnergyBudget/
Arkon/Metabolism/EnergyBudget.swift
