<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EnergyBudget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ingrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Karamba-Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Karamba-Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RNG.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D402138522B85EA400ADF5B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40985DF22650B0A009DD384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43EA800228FC77D006C619D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D441B99C22A0653F00FB7057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D441D31522B2AB5000143CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4579FF522B5C7A600963929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D457A01822B5FB8400963929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4603A6322A2B11A00885428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D464BA3122C737260069623C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46B1D8A22825D43003D711C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D480535522B14D3300FF8617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D482860A2298CC4800225057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D490429E22AC6A2400E7369B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4AD194C22AC4848009F3469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4CBA2EE228059CA0023FAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4CBA30022805DD60023FAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4EE55FB22BC1D530076D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F89BE7245BCCCA0044F0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
